
{% extends "base.html" %}

{% set nav_active = 'chat' %}
{% set authenticated = True %}

{% block head %}
{{ super() }}
{% endblock %}

{% block btitle %}
Chat
{% endblock %}

{% block bstyles %}
<style>
    .panel-body .img-responsive {
    	margin: 0 auto;
    }
    .h4 {
    	margin: 2pt;
    	padding: 2pt;
    }
</style>
{% endblock %}

{% block page_content %}

<div class="col-md-7">
	<div class="page-header" clear:both;>
		<h2>Chat</h2>
	</div>
	{% with error = get_flashed_messages(with_categories=true) %}
	{% for c, e in error %}
	<div class="alert alert-{{c}} alert-dismissable fade in">
    	<a href='#' class="close" data-dismiss="alert" aria-label="close">&times;</a>
    	{{e}}
	</div>
	{% endfor %}
	{% endwith %}
	<div class="well">
		<h4>
			Send a Message
		</h4>
		<form class="form" style="padding-bottom:0pt;" action="/startChat" method="POST">
			<div class="form-group">
                <label for="user">User:</label>
                <select name="user" required/>
                    {% for user in users %}
                    <option id= "user" value={{user.id}}>{{user.name}}</option>
                    {% endfor %}
                </select>
                    <input type="hidden" class="form-control" name="id" value="{{userid}}">
			</div>
			<div class="form-group">
				<textarea class="form-control" rows="3"
				name="message" placeholder="Message" required/></textarea>
			</div>
			<button class="btn btn-default btn-block">
				Send Message
			</button>
		</form>
	</div>
</div>
{% if chats %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="page-header" clear:both;>
    <h2> Open Chats </h2>
</div>
{% for chat in chats %}
<h4>Chat with <i>{{chat.name}}</i></h4>

{% for key, message in chat.items() %}
    {% if key != "name" %}
    <div class="well">
        <p>{{message.sendername}}:{{message.message}}</p>
        <span class="time-right">{{message.time}}</span>
    </div>
    {% endif %}

{% endfor %}
<br>
{% endfor %}
{% endif %}



{% endblock %}


