{% extends "base.html" %} {% set nav_active = 'favorites' %} {% set authenticated = True %} {% block head %} {{ super() }} {% endblock %} {% block btitle %} Favorites {% endblock %} {% block bstyles %}
<style>
    form {
        padding-top: 20px;
        padding-bottom: 30px;
    }

.panel-body .img-responsive {
    margin: 0 auto;
}
</style>
{% endblock %} {% block page_content %}


{% with error = get_flashed_messages(with_categories=true) %} {% for c, e in error %}
<div class="alert alert-{{c}} alert-dismissable fade in">
    <a href='#' class="close" data-dismiss="alert" aria-label="close">&times;</a> {{e}}
</div>
{% endfor %} {% endwith %} {% if posts %} {% for line in posts %}
<div class="panel panel-default" id="{{line.id}}">
    <div class="panel-heading">
        <span class="text-primary">{{line.name}}</span>
        <span class="text-muted">&#9658;</span> {{line.title}}
        <div class="pull-right">
            <small>{{line.date}}&nbsp;</small> {% if (username == line.username) %}
            <a href="/postdel?username={{line.username}}&id={{line.id}}" title="Delete post" class="close deletePost">&times;</a> {% endif %}
        </div>
    </div>
    <div class="panel-body">
        <a href="#col{{line.id}}" data-toggle="collapse">
            <img src="{{line.photo}}" alt="{{line.title}}" class="img-responsive img-rounded">
                </a>
        <div class="panel-body">
            <span class="text-primary">Description: {{line.description}}</span>
        </div>
        <div class="panel-body">
            <span class="text-primary">Current Price: ${{line.current_price}}</span>
        </div>
        <div class="panel-body">
            <span class="text-primary">Current Bidder: {{line.current_bidder}}</span>
        </div>
        {% for t in line.tags %}
        <span style="padding: 4pt; display: inline-block; margin-top: 5pt;" class="label label-default">
            <span class="glyphicon glyphicon-tag"></span> {{t.first_name}} {{t.last_name}}
        </span>
        {% endfor %}
        <div id="col{{line.id}}" class="collapse">
            <hr>
            
            <form class="form-inline" style="padding-top:0pt;padding-bottom:0pt;" action="/bid" method="POST">
                <div class="form-group">
                    <div class="input-group">
                        <input type="number" class="form-control" name="bid" placeholder="Place a bid here!" required>
                            <input type="hidden" class="form-control" name="id" value="{{line.id}}">
                                <label class="input-group-btn">
                                    <button type="submit" class="btn btn-default">
                                        Enter Bid
                                    </button>
                                </label>
                                </div>
                </div>
            </form>

            <hr>
            <form class="form-inline" action="/favoriteDel" method="POST">
                
                <div class="form-group">
                    <input type="hidden" class="form-control" name="id" value="{{line.id}}" />
                    <button type="submit" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-open"></span> UnFavorite
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="panel-footer">
        {% if line.comments %}
        <h5 style="margin-bottom: 0pt;">
            {{line.comments|length}} {% if line.comments|length > 1 %} Comments {% else %} Comment {% endif %}
        </h5>
        {% endif %}
        <form class="form" style="padding-bottom:0pt;" action="/comment" method="POST">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" name="comment" placeholder="Make a comment!">
                        <input type="hidden" class="form-control" name="id" value="{{line.id}}">
                            <label class="input-group-btn">
                                <button type="submit" class="btn btn-default">Comment</button>
                            </label>
                            </div>
            </div>
        </form>
        {% for key, c in line.comments.items() %}
        <div style="padding-bottom: 5pt;" class="container-fluid">
            <span class="text-info">{{c.name}}</span> &nbsp;
            <div class="pull-right">
                {% if (username == c.username or username == line.username) %}
                <a href="/commentdel?username={{c.username}}&cid={{key}}&ts={{c.time}}&id={{line.id}}" title="Remove this" class="close">&times;</a> {% endif %}
            </div>
            <small>{{c.time}}</small>
            <br /> {{c.text}}
        </div>
        {% endfor %}
    </div>
</div>

{% endfor %} {% endif %} {% endblock %}
