
{% extends "base.html" %}
{% set nav_active = "login" %}

{% block btitle %}
Login
{% endblock %}

{% block page_content %}
<div class="container col-sm-offset-3 col-sm-6">

<div class="well form-well">
<h3 class="text-center"> Login </h3>
<form action="/loginAuth" method="POST">
		<label for="username">Username</label>
    <input class="form-control" id="username" style="font-size:16pt" type="text" name="username" placeholder="username" required/> </br />
  	<label for="password">Password</label>
    <input class="form-control" id="password" style="font-size:16pt" type="password" name="password" placeholder="password" required/></br />
  	<button type="submit" class="btn btn-block btn-primary">Login</button>
</form>
<br />
<h3 class="text-center"><small>New to Unibid?</small></h3>
<a href="/register" class="btn btn-block btn-default" role="button">Create a Unibid Account</a>
</div>

{% if error %}
  <div class="alert alert-danger fade in">
    <a href='#' class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Error:</strong> {{error}}
  </div>
{% endif %}

</div>
{% endblock %}
